# dependencies
node_modules/

# production build
dist/

# environment variables
.env

# logs
*.log

# editor files
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local